<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978903812034-1mggg5pu6p1hmoc9cuc7pomhj157a203.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978903812034-1mggg5pu6p1hmoc9cuc7pomhj157a203</string>
	<key>API_KEY</key>
	<string>AIzaSyB8PJ-9Uuo7yzkuUfKDqhK5LifQ42ZuFWc</string>
	<key>GCM_SENDER_ID</key>
	<string>978903812034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesFlutter</string>
	<key>PROJECT_ID</key>
	<string>notesflutter-a6f2d</string>
	<key>STORAGE_BUCKET</key>
	<string>notesflutter-a6f2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978903812034:ios:2a40cc983e1088fc71f85b</string>
</dict>
</plist>